html,
body {  height:100%; }

body {
  background-image: url(../images/helmets.jpg);
  text-align: center;
  background-size: cover;

}

#wrapper {
  padding: 5% 0;
  background-color: #778387;
  width: 960px;
  margin: 5% auto;
  box-sizing: border-box;
  min-height: 80%;
  opacity: .75;
}

#sub-wrapper {
  position: relative;
  top: 20%;
}

button {
  display: block;
  width: 400px;
  height: 100px;
  margin: 10px auto 0 auto;
  border: none;
  cursor: pointer;
  background: transparent;
  font-size: 42px;;
}

h1 {
  font-family: 'Aldrich', sans-serif;
  font-size: 6.5em;
  margin-bottom: 50px;
  font-weight: bold;
  color: #FBFF33;
  opacity: 1.25;
  z-index: 500;
}

h2 {
  font-size: 35px;
  margin-bottom: 25px;
}

h3 {
  font-size: 25px;
  margin-bottom: 10px;
}

#start {
  margin-top: 10%;
  border: 2px solid blue;
  background: #0607D1;
}

#quiz-area h2 { margin-top: 50px; }

button:hover  {
  border: 2px solid blue;
  background: pink;
}
